.row
  .col-md-8
    %h1 Tasks
  .col-md-4
    = link_to "Create new", new_task_path, class: "btn btn-success"
- if @tasks.present?
  .row.border.border-dark.rounded.mb-1
    .col.col-lg-1 Trainee
    - @flow_steps.each do |flow_step|
      .col
        = flow_step.title
        %br/
        - @tasks.each do |task|
          - if task.level == "trainee" && task.flow_step == flow_step
            = link_to task.title, task_path(task), class: "btn btn-outline-secondary btn-sm btn-block"
            %br/
  .row.border.border-dark.rounded.mb-1
    .col.col-lg-1 Junior
    - @flow_steps.each do |flow_step|
      .col
        = flow_step.title
        %br/
        - @tasks.each do |task|
          - if task.level == "junior" && task.flow_step == flow_step
            = link_to task.title, task_path(task), class: "btn btn-outline-secondary btn-sm btn-block"
            %br/
  .row.border.border-dark.rounded.mb-1
    .col.col-lg-1 Middle
    - @flow_steps.each do |flow_step|
      .col
        = flow_step.title
        %br/
        - @tasks.each do |task|
          - if task.level == "middle" && task.flow_step == flow_step
            = link_to task.title, task_path(task), class: "btn btn-outline-secondary btn-sm btn-block"
            %br/
  .row.border.border-dark.rounded.mb-1
    .col.col-lg-1 Senior
    - @flow_steps.each do |flow_step|
      .col
        = flow_step.title
        %br/
        - @tasks.each do |task|
          - if task.level == "senior" && task.flow_step == flow_step
            = link_to task.title, task_path(task), class: "btn btn-outline-secondary btn-sm btn-block"
            %br/
- else
  %p Don`t have tasks
