.row
  .col-md-8
    %h1 Tasks
  .col-md-4
    = link_to "Create new", new_task_path, class: "btn btn-success"
- if @tasks.present?
  %table.table

    %tr
      %th Level
      - @flow_steps.each do |fs|
        %th= fs.title
      -@tasks.each do |f|
        %tr
          %td= f.level
          %td
            = f.title if f.flow_step.title ==  FlowStep.all.find(1).title
          %td
            = f.title if f.flow_step.title == FlowStep.all.find(2).title
          %td
            = f.title if f.flow_step.title == FlowStep.all.find(3).title



    -#%tr
    -#- @tasks.each do |f|
    -#  %td= f.level
    -#  %td= link_to f.title, task_path(f)



- else
  %p Don`t have tasks
