%h1 Dashboard
- if @department.present?
  .field
    Department:
    = link_to @department.title, department_path(@department)
  %br
  .field
    - @department.development_plans.each do |dp|
      Development Plan:
      = dp.title
      %br
      - unless dp.flow_steps == nil
        - @levels.each do |level|
          .row.border.border-dark.rounded.mb-1
            .col.col-lg-1
              = level[0].capitalize
            - dp.flow_steps.each do |flow_step|
              .col
                = flow_step.title
                %br/
                - flow_step.tasks.each do |task|
                  - if task.level == level[0]
                    %br/
                    .btn-group.btn-block.mb-2
                      %button.btn.btn-outline-secondary.btn-sm
                        = link_to task.title, development_plan_task_path(dp, task), class: "btn secondary"



- else
  .field
    You do not have a department