<%= form_with(model: @user) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %><br/>
  </div>

  <div class="field">
    <%= f.label :department %><br/>
    <%= f.select :department_id, Department.all.collect { |d| [d.title, d.id] }, include_blank: f %><br/>
  </div>

  <div class="field">
    <%= f.label :avatar %><br/>
    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
    <% end %>
  </div>

  <%= f.submit "Update", class: 'btn btn-success' %>
  <%= link_to "Back", :back, class: "btn btn-info" %>
<% end %>

