<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %><br />
  </div>

  <%= f.submit "Update" %><br/>
<% end %>

<%= link_to "Back", :back %>
