.index
  .row
    .col-md-8
      %h1 Users
    .col-md-4
      = link_to "Invite user", new_user_invitation_path, class: "btn btn-success"

  %table.table
    %tr
      %th ID
      %th First name
      %th Last name
      %th Email
      %th Departments
      %th
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= link_to user.email, user_path(user)
        - if user.department.present?
          %td= user.department.title
        - else
          %td nil
        %td
          .btn-group
            = link_to 'Edit', edit_user_path(user), class: "btn btn-warning"
          .btn-group
            = button_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"