<div class="index">
  <h1>Users </h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Departments</th>
    </tr>
    <% @users.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td><%= f.first_name %></td>
        <td><%= f.last_name %></td>
        <td><%= link_to f.email, user_path(f) %></td>
        <% if f.department.present? %>
          <td><%= f.department.title %></td>
        <% else %>
          <td>nil</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
