%h1 User profile
- if @user.avatar.present?
  = image_tag @user.avatar, width: 300
- else
  = image_tag "users/avatar_default.png", width: 300
%br/
= @user.first_name
= @user.last_name
%br/
.field
  Department:
  = @user.department.title if @user.department.present?
.field
  Role:
  - if @user.admin?
    = @user.role
  - else
    = @user.level
= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning"
= button_to 'Delete', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
