.row
  .col-md-8
    %h1 Department
  .col-md-4
    = link_to "Save PDF page to email", department_send_pdf_to_mail_url(@department), class: "btn btn-success"

%ul
  %li
    ID: #{@department.id}
  %li
    Department: #{@department.title}
    %br/
  %li
    Member count: #{@department.users.count}
= image_tag @department.image, width: 300 if @department.image.present?
%div
  - if current_user.admin?
    = link_to "Edit", edit_department_path(@department), class: "btn btn-warning"
    = button_to "Delete", department_path(@department), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"
