.row
  .col-md-8
    %h1 Development plans
  .col-md-4
    = link_to "Create new", new_development_plan_path, class: "btn btn-success"
- if @development_plans.present?
  %table.table
    %tr
      %th ID
      %th Title
      %th Department
      %th Flow steps count
    - @development_plans.each do |f|
      %tr
        %td= f.id
        %td= link_to f.title, development_plan_path(f)
        %td= f.department.title
        %td= link_to f.flow_steps.count , development_plan_flow_steps_path(f)
- else
  %p Don`t have development plans
